/* Reset CSS  */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Custom CSS  */

:root{
  --clr-primary-100: hsl(300, 43%, 22%);
  --clr-primary-200: hsl(333, 80%, 67%);

  --clr-neutral-100: hsl(303, 10%, 53%);
  --clr-neutral-150: hsla(303, 10%, 53%, 0.2);

  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-300: hsl(0, 0%, 100%);

  --ff-body: 'League Spartan', sans-serif;
  --fs-body: 15px;

  --fw-regular: 400;
  --fw-medium: 400;
  --fw-bold: 700;
}

body{
  background: var(--clr-neutral-300);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  margin: 16% 7%;
  
} 

.pattern-top,
.pattern-bottom {
  position: fixed;
  left: 0;
  right: 0;
  height: 25%;
  width: 100%; /* set the height to the desired value */
  background-size: 10px 10px; /* set the size of the pattern */
}

.pattern-top {
  top: 0;
}
.pattern-bottom {
  bottom: 0;
  height: 40%;
  background-position: right bottom;
}

.desktop-bg{
  display: none;
}

/* TOP SECTION  */

.top-section{
  text-align: center;
  color: var(--clr-primary-100);
}

#main-heading{
  font-size: 2.5rem;
  line-height: 1;
  padding: 24px;
}

#heading-text{
  color: var(--clr-neutral-100);
  padding: 0 24px 24px;
}

.rating-section{
  padding: 24px 0;
  text-align: center;
}

.rating-box{
  display: flex;
  flex-direction: column;
  background: var(--clr-neutral-200);
  padding: 0.5rem;
  margin-bottom: 0.8rem;
  border-radius: 8px;
}

.icons{
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.star-icon{
  padding: 0.25rem;
}

/* BOTTOM SECTION  */

.bottom-section{
  margin-bottom: 20%;
}

.customer-box{
  background: var(--clr-primary-100);
  color: var(--clr-neutral-200);
  border-radius: 8px;
  padding: 2.2rem;
  margin-bottom: 12px;
}

.profile-heading{
  display: flex;
  align-items: center;
  padding-bottom: 1.3rem;
}

.profile-pic{
  width: 46px;
  border-radius: 100%;
  margin-right: 1.3rem;
}

.customer-position{
  color: var(--clr-primary-200);
}

@media (min-width: 800px){
  body{
    margin: 6% 7%;
  }

  .top-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
  }

  #main-heading{
    font-size: 2.8rem;
    padding-right: 32px;
  }

  #heading-text{
    padding: 0 48px 24px 24px;
  }

  .bottom-section{
    margin-bottom: 2rem;
    padding-top: 2rem;

  }

  .rating-box{
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 8px;
  }

  .rating-text{
    padding: 1% 0 0 3%;
  }
}

  @media (min-width: 1024px){
    body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 3% 7%;
      height: 700px;
    }

    #main-heading{
      font-size: 3.5rem;
    }

    .rating-box{
      width: 80%;
      display: inline-flex;
      text-align: center;
      padding-left: 4rem;
      /* justify-content: center; */
    }

    .rating-box-2{
      margin-left: 10%;
    }

    .rating-box-3{
      margin-left: 20%;
    }

    .customer-box{
      width: 30%;
      float: inline-start;
      margin-left: 24px;
    }

    .customer-2{
      margin-top: 24px;
    }
    .customer-3{
      margin-top: 48px;
    }

    .bottom-section{
      margin-bottom: 0;
      padding-top: 2rem;
    }

    .pattern-bottom,
    .pattern-top{
      width: 30%;
    }
    .pattern-bottom{
      /* width: 30%; */
      margin-left: 20%;
    }
    .desktop-bg{
      display: block;
    }
    .mobile-bg{
      display: none;
    }

}

@media (min-width: 1276px){
  body{
    margin: 3% 10%;
  }
  #main-heading{
    font-size: 3.5rem;
    padding-right: 6rem;
  }
  #heading-text{
    width: 450px;
  }
  .rating-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rating-box{
    width: 70%;
  }

  .bottom-section{
    padding-top: 2rem;
  }
}